@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.container {
    width: 95%;
    margin: auto;
}

html,body{
    /* width: 100vw;
    height: 100vh; */
    background: #fbfbfb;
}

.main_head{
    height: max-content;
    padding: 1rem 2rem 2rem 2rem;
    background: #636c79;
}

.header{
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.logo{
    width: 120px;
}


.navbar{
    display: grid;
    align-items: center;
     grid-template-columns: 6fr 2fr;
}

.nav_items{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.nav_item{
    font-weight: 500;
    cursor: pointer;
}

.header_btn{
    text-align: right;
}

.nav_btn{
    padding: 10px 3rem;
    background: transparent;
    border: 2px solid #7d8188;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}


/* header body section */

.header_body_section{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 3rem;
    align-items: center;
}

.header_body_section_img{
   width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.header_body_section_title{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;  
}

.header_body_section_description{
    color: #d8dadd;
    margin: 1.8rem 0;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    line-height: 30px;
}


.header_body_section_email{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    padding: 2px 10px;
    width: 70%;
    height: 40px;
  }

  .header_body_section_email input{
    flex-grow: 2;
  }

  .icon{
    color: #8bb7a2;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: 5px;
    text-align: center;
  }


  .header_body_section_btn
  {
    border: 1px solid #8bb7a2;
    background-color: #8bb7a2;
    padding: 8px 22px;
    cursor: pointer;
  }



  /* Achivement section */

  .achievement_Section{
    margin-top: 4rem;
  }

  .achievement_Section_title{
    text-align: center;
    margin-bottom: 2rem;
  }

  .achievement_title{
    color: #1b1d21;
    font-size: 2.4rem;
}


.achievement_list{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}


.achievement_number{
    color: #000000;
    font-size: 2.8rem;
    font-family: 'Open Sans';
}

.achievement_type{
    font-family: 'Open Sans';
    font-weight: 600;
    margin-top: 5px;
    color: #3f3f3f;
}

.achievement_img{
    width: 100%;
    height: 500px;
    object-fit: fill;
}

/* services Section */
  
.services_Section{

    margin-top: 3rem;
}

.services_Section_title{
    text-align: center;
    margin-bottom: 2rem;   
}

.Section_title{
    color: #1b1d21;
    font-size: 3rem;
    font-weight: 700;
}

.service
{
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
    grid-gap: 5rem;
    margin: 2rem 0;
}

.service_img_wrapper{
    width: 100%;
    height: 100%;
}

.service_img{
    width: 100%;
    height:450px;
    object-fit: fill;
}
  

.service_title{
    font-size: 2rem;
    color: #1b1d21;
}

.service_description{
    margin-top: 1.4rem;
    font-weight: 600;
    color: #535558;
    line-height: 30px;
}

.service_btn{
    padding: 8px 1.5rem;
    color: #ffffff;
    background: #8bb7a2;
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
}


/* Team section */


.team_Section{
    margin: 2rem 0;
}

.team_header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.team_title{
    font-size: 36px;
    color: #1b1d21;
}

.team_description{
    font-weight: 600;
    line-height: 30px;
    color: #535558;
}

.team_img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 0%;
}

.team_body{
    margin-top: 3rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 4fr);
    align-items: center;
}

.team_title{
    font-size: 36px;
    color: #1b1d21;
}

.team_description{
    font-weight: 600;
    line-height: 30px;
    color: #535558;
}

.team_person_name{
    margin-top: 20px;
    font-size: 18px;
    color: #1b1d21;
}

.team_preson_bio{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #535558;
    line-height: 25px;
}

.team_btn_wrapper{
    text-align: center;
}

.team_btn{
    padding: 8px 1.5rem;
    background: #8bb7a2;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    color: #ffffff;
}

.footer{
    margin-top: 6rem;
    height: max-content;
    background: #10181d;
    padding: 1rem 3rem 3rem 3rem;
}

.footer_top{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #31393e;
}

.footer_logo{
    width: 120px;
}

.footer_icons{
    width: 250px;
    cursor: pointer;
}
.footer_bottom{
    display: grid;
    align-items: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(5, 2.5fr);
    margin-top: 3rem;
    text-align: center;
}

.footer_links_title{
    color: #fff;
    font-size: 16px;
}


.footer_link{
    color: #c3c5c7;
    margin-top: 20px;
    font-size: 12px;
}

/* media query */
@media (max-width: 1060px)
{
    .navbar{
         grid-template-columns: 4.5fr 2.5fr;
    }

    .header_body_section_title{
        font-size: 2.5rem;
    }
}

@media (max-width:950px)
{
    .header{
        grid-template-columns: 12fr;
        text-align: center;
    }
    .nav_items{
       margin-top: 1rem;
    }
    .header_body_section{
        grid-template-columns: 12fr;
        text-align: center;
        width: 80%;
        margin: 2rem auto;
    }

    .header_body_section_email{
        width: 60%;
        margin: auto;
      }
}

@media (max-width:700px)

{

    .header_body_section_email{
        width: 80%;
        margin: auto;
      }
    .achievement_list{
        grid-template-columns: 6fr 6fr;
       
    }

    .team_body{
        grid-template-columns: 12fr;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    
    .footer_bottom{
       grid-template-columns: 6fr 6fr;
    }

}

@media (max-width:640px)

{
    .navbar{
        grid-template-columns: 12fr;
        text-align: center;
   }

   .header_btn{
    text-align: center;
    margin-top: 1rem;
}

.header_body_section_email, .header_body_section{
    width: 90%;
  }

.service_one, .service_three{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

  .service_two
  {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer_top{
    height: max-content;
    flex-direction: column;
    text-align: center;
    border: none;

}

.footer_icons{
    height: 100px;
}

.footer_bottom{
    margin-top: 1rem;
}

.team_header{
   flex-direction: column;
   text-align: center;
   gap: 2rem;
}

}

@media (max-width:420px)
{
    .nav_items{
       flex-direction: column;
       gap: 1rem;
    } 
    .header_body_section{
        width: 95%;
      }

      .header_body_section_email{
        flex-direction: column;
        height: 30px;
      }
      
      .icon{
        display: none;
      }

      .section_btn{
        margin-top: 1.3rem;
      }

      .footer_bottom{
        grid-template-columns: 12fr;
     }
    
     .achievement_list{
        grid-template-columns: 12fr;
       
    }

   
}


